.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $default;
    background-color: #fdfdfd;
    &-logo {
        padding: 30px 0;
        font-family: 'Playfair Display', serif;
        font-size: 40px;
        color: $title;
    }
    &_list {
        display: flex;
        gap: 30px;
    }
    &_list-item_link {
        color: $default;
    }
    &-contacts_item-link {
        color: $default;
    }
}
