<section class="partners">
  <div class="container">
    <h2 class="title partners__title title--center">
      Supported by&nbsp;12+&nbsp;partners
    </h2>

    <ul class="list-reset partners__list">
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            src="../img/partners/partners-logo_1.png"
            alt="Logo 1"
            class="partners__logo"
          />
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            src="../img/partners/partners-logo_2.png"
            alt="Logo 2"
            class="partners__logo"
          />
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            src="../img/partners/partners-logo_3.png"
            alt="Logo 3"
            class="partners__logo"
          />
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            src="../img/partners/partners-logo_4.png"
            alt="Logo 4"
            class="partners__logo"
          />
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            src="../img/partners/partners-logo_5.png"
            alt="Logo 5"
            class="partners__logo"
          />
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            src="../img/partners/partners-logo_6.png"
            alt="Logo 6"
            class="partners__logo"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
