.header {
    margin-top: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
        .header__logo {
            display: flex;
            .header__logo_img {
                width: 45.12px;
                height: 41.34px;
            }
            .header__logo_name {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 800;
                font-size: 37px;
                line-height: 56px;
                color: #FFFFFF;
                padding-left: 16.89px;
            }
        }
        .header__links {
            width: 25%;
            display: flex;
            justify-content: space-between;
            position: relative;
            color: #707070;
            a:hover {
                
                color: #3C82F4;
            }
            .header__links>li {
                padding-bottom: 20px;
            }
            
            .header__nav_links_sub {
                position: absolute;
                display: none;
                left: 0;
                top: 10px;
                li {
                    padding: 10px 10px 10px 10px;
                }
            }
        }
        .header__links li:hover .header__nav_links_sub {
            display: block;
        }
        .log__btn {
            color: #707070;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            padding: 12px 20px;
            border: none;
            background: none;
        }
        .log__btn:hover {
            color: #3C82F4;
        }
        .si__btn {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            padding: 12px 20px;
            border: none;
            border-radius: 10px;
            background: #3C82F4;
            color: #fff;
        }
}