@font-face {
  font-family: "Poppins";
  src: url(../font/Poppins-Regular.ttf);
}
body {
  background-color: #e5e5e5;
}
a {
  text-decoration: none;
  color: #4b321d;
}
p {
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 116%;
  color: #4b321d;
}
.wrapper {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  background-color: #e5e5e5;
  position: absolute;
  font-family: "Poppins";
  color: #4b321d;
  padding: 40px 60px 0 60px;
  overflow: visible;
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    .logo__img {
      max-width: 100%;
      height: auto;
    }

    .nav__links {
      // max-width: 630px;
      // height: auto;

      ul {
        display: flex;
        li {
          margin-right: 36px;
          a {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 29px;
          }
        }
      }
    }
  }
  .main {
    .intro {
      h1 {
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 125%;
        color: #4b321d;
        margin-top: 128px;
      }
    }
    .img__frame {
      max-width: 1400px;
      margin: 0 auto;
      right: +20px;
      left: +20px;
      background-color: #e5e5e5;
      margin-top: 136px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .projects {
      h3 {
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 125%;
        color: #4b321d;
        margin-top: 84px;
      }
      .button {
        padding: 11px 17px 10px 17px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: #4b321d;
        margin-top: 67px;
      }
    }
    .prop {
      margin-top: 90px;
      display: flex;
      justify-content: space-between;
      img {
        max-width: 100%;
        height: auto;
      }
      .prop__info {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        .prop__btn {
          padding: 11px 17px 10px 17px;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 29px;
          color: #4b321d;
          margin-top: 45px;
        }
      }
    }
    .follow {
      margin-top: 90px;
      display: flex;
      justify-content: space-between;
      img {
        max-width: 100%;
        height: auto;
      }
      .follow__info {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        .follow__btn {
          margin-top: 45px;
          padding: 11px 17px 10px 17px;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 29px;
          color: #4b321d;
        }
      }
    }
    .lorem {
      margin-top: 90px;
      background-color: #4b321d;
      display: flex;
      flex-direction: column;
      border-radius: 16px;
      padding: 84px 159px 110px 60px;
      h3 {
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 125%;
        color: #f1f1eb;
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 140%;
        color: #f1f1eb;
        margin-top: 45px;
      }
    }
    .contact {
      margin-top: 84px;
      h3 {
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 123px;
        color: #4b321d;
      }
      .contact__btn {
        margin-top: 60px;
        padding: 11px 17px 10px 17px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: #4b321d;
      }
    }
  }
  .footer {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    a {
      line-height: 1.5;
    }
    .footer__priv {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      flex-wrap: nowrap;
      max-width: 690px;
      align-self: flex-start;
      li {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
      }
      img {
        margin: 80px 0 100px;
        max-width: 100%;
        height: auto;
      }
    }
  }
}
